

@font-face {
    font-family: '영덕대게체';
    src: url('./images/Yeongdeok_Snow_Crab.ttf') format('truetype');
}

@font-face {
    font-family: '영덕바다체';
    src: url('./images/Yeongdeok_Sea.ttf') format('truetype');
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* 최상위 요소 */

#container {
    width: 1600px;
    margin: 0 auto;
    background-color: #EFD2B8;
}

/* 공부하는 보르조이 부분 */

.inner_header {
    background-color: #EFD2B8;
}


.logo {
    font-family: '영덕대게체';
    text-align: center;
    height: 100px;
    line-height: 100px;

}

.blind {
    font-size: 50px;

    color: white;
    -webkit-text-stroke: 1px black;

}




.search_area {
    height: 80px;
}

.search {
    width: 700px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;

    border: none;
    border-radius: 10px;

    padding-left: 20px;

    font-size: 30px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.list a{
    display: flex;
    flex-direction: column;
}


.thumb_area {
    display: flex;
    margin: 15px;
    
}


.thumb_img_area {
    width: 300px;
    height: 300px;
    flex: 1;
    position: relative;
}

.thumb_img {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.thumb_desc_area {
    flex: 2.25;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.thumb_title {
    font-family: "영덕대게체";
    font-size: 25px;
    padding: 20px;

    color: black;

}

.thumb_desc {
    font-family: "영덕바다체";
    height: 55px;
    background-color: azure;
}

.tt_article_useless_p_margin {
    border: none;

}



